---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import About from '../components/About';
import LeoShowcase from '../components/LeoShowcase';
import SementeProcess from '../components/SementeProcess';
import NewInvestment from '../components/NewInvestment';
import NextSteps from '../components/NextSteps';
---

<Layout title="Proposta RCDNC | Leo Pazdziora - Resgates com Milhas">
	<main>
		<Hero client:load />
		<About client:load />
		<LeoShowcase client:load />
		<SementeProcess client:load />
		<NewInvestment client:load />
		<NextSteps client:load />
	</main>
</Layout>